<mat-sidenav-container class="sidenav-container">
  <mat-sidenav
    #drawer
    class="sidenav">
    <mat-toolbar>Menu</mat-toolbar>
    <mat-nav-list>
      <a mat-list-item [routerLink]="['/comp-a']">Routed Component A</a>
      <a mat-list-item [routerLink]="['/comp-b']">Routed Component B</a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <button type="button" aria-label="Toggle sidenav" mat-icon-button (click)="drawer.toggle()">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <span>MyApp</span>
    </mat-toolbar>
    <section id="global-actions">
      <h3>Global actions</h3>
      <button mat-button (click)="rightPanel.open()">Open right panel</button>
    </section>
    <router-outlet></router-outlet>
  </mat-sidenav-content>

  <!-- this is the sidenav we are concerned with -->
  <mat-sidenav #rightPanel class="panel" position="end">
    <!-- <pre><code>{{ (panelService.panelPortal$ | async) | json }}</code></pre> -->
    <ng-template [cdkPortalOutlet]="panelService.panelPortal | async"></ng-template>
  </mat-sidenav>
</mat-sidenav-container>
